* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
}

/* Header */
.headerLogoSettings {
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
  padding: 14px;
}
.headerLogoSettings a {
  align-self: center;
}
.headerLogoSettings a img {
  width: 20px;
}

/* Hidden */
.hidden {
  display: none;
}
.bold {
  font-weight: bold;
}

.preview-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  grid-auto-rows: 30vh;
  grid-gap: 0rem;
  /* grid-template-rows: repeat(5, 25%); */
  margin: 0.5rem;
}

.preview-container > div {
  margin: 0.5rem;
  padding: 0.5rem;
}

.preview-object {
  overflow-wrap: break-word;
  font-size: 24px;
  text-align: center;
  background-color: rgb(241, 239, 239);
  min-width: 150px;

  border-radius: 4px;
  background: #e0e0e0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

  position: relative;
}

@media (min-width: 400px) {
  .preview-container {
    margin: 1rem;
  }
}

@media (min-width: 600px) {
  .preview-container {
    max-width: 600px;
    margin: 0 auto;
  }
  .preview-object h2 {
    font-size: 1.5rem;
  }
  .preview-object li {
    font-size: 20px;
  }
  .headerNameEdit {
    padding: 5px 20px 0px 20px;
  }
  .headerNameEdit button {
    right: 20px;
  }
}

.preview-object:hover {
  background-color: rgb(241, 241, 241);
}

.selected-item {
}

.trashBtn img {
  height: 1rem;
}

.checkedItem {
  text-decoration: line-through;
  opacity: 60%;
}

li {
  list-style: none;
}

ul {
  padding: 0px;
  margin: 0px;
}

/* se lista-vy med checkboxar */
.ul-container {
  padding-top: 24px;
  padding-left: 48px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.ul-container li {
  padding: 4px;
}
.ul-container li label {
  padding-left: 40px;
  padding-top: 2px;
}
