* {
  font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
}

/* Header */
.headerLogoSettings {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    padding: 14px;
}
.headerLogoSettings a {
    align-self: center;
}
.headerLogoSettings a img {
    width: 20px;
}

/* Hidden */
.hidden {
    display: none;
}
.bold {
  font-weight: bold;
}
