/* .main {
    height: 80vh;
    width: 440px;
    display: flex;
    position: relative;
} */

/* Styling för inputfältet i headern */
.nameinput {
    border: none;
    font-size: 1.5rem;
    text-align: center;
    margin: 20px 0px 20px 5px;
}
input.nameinput{
    max-width: 90vw;
}
@media (min-width: 600px) {
    .nameinput {
        font-size: 1.8rem;
    }
}

.listiteminput {
    border: none;
    border-bottom: 2px solid black;
    margin: 5px 5px 0 20px;  

}

.saveBtn {
    margin: 10px 0px 0 20px;
    background: rgb(138, 216, 138);
    padding: 5px;
    border-radius: 10px;
    border: none;
}

.saveBtn:hover {
    background: rgb(98, 192, 98);
}

.backBtn {
    padding: 5px;
    position: absolute;
    top: 35%;
    left: 10px;
}

.backBtn img {
    width: 12px;
}

.additembtn {
    all: unset;
    border: none;  
}

#listItems li {
    list-style: none;
}
input {
    border: none;
}
.iconspans {
    padding: 5px;
}

/* EDIT VIEW */
p.thisIsEdit {
    position: absolute;
    top: -2px;
    left: 8px;
    font-size: 10px;
    color: #808080;
}


/* STYLING INSKRIVEN FÖR SETTINGSSIDAN */
.settingdiv {
    padding: 24px 24px 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.settingdiv p {
    font-size: 20px;
}

/* STYLING FÖR SLIDER-checkboxen för light/dark-mode*/

.switch {
 align-self: center;
   
}
    
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #2b2b2b;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}