/* .main {
    height: 80vh;
    width: 440px;
    display: flex;
    position: relative;
} */

/* Styling för inputfältet i headern */
.nameinput {
    border: none;
    font-size: 1.5rem;
    text-align: center;
    margin: 20px 0px 20px 5px;
}
input.nameinput{
    max-width: 90vw;
}
@media (min-width: 600px) {
    .nameinput {
        font-size: 1.8rem;
    }
}

.listiteminput {
    border: none;
    border-bottom: 2px solid black;
    margin: 5px 5px 0 20px;  

}

.saveBtn {
    margin: 10px 0px 0 20px;
    background: rgb(138, 216, 138);
    padding: 5px;
    border-radius: 10px;
    border: none;
}

.saveBtn:hover {
    background: rgb(98, 192, 98);
}

.backBtn {
    padding: 5px;
    position: absolute;
    top: 35%;
    left: 10px;
}

.backBtn img {
    width: 12px;
}

.additembtn {
    all: unset;
    border: none;  
}

#listItems li {
    list-style: none;
}
input {
    border: none;
}
.iconspans {
    padding: 5px;
}

/* EDIT VIEW */
p.thisIsEdit {
    position: absolute;
    top: -2px;
    left: 8px;
    font-size: 10px;
    color: #808080;
}
