/* Header */
.headerNameEdit {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px 0px 20px;
}
.headerNameEdit h1 {
    text-align: center;
}
.headerNameEdit button {
    all: unset;
}
.headerNameEdit .backArrow {
    width: 12px;
}
.headerNameEdit .edit {
    width: 6px;
}

