.headerNameEdit {
    padding: 5px 20px 0px 20px;
    position: relative;
}
.headerNameEdit h1 {
    text-align: center;
}
.headerNameEdit button {
    all: unset;
    position: absolute;
    top: 50%;
    right: 20px;
}
.headerNameEdit button img {
    width: 6px;
}