body {
	margin: 0;
}

/* HEADER CLASSES */

.headerLogoSettings {
	display: flex;
	justify-content: space-between;
	background-color: lightgray;
	padding: 14px;
}
.headerLogoSettings a {
	align-self: center;
}
.headerLogoSettings a img {
	width: 20px;
}
.headerNameEdit {
	padding: 5px 20px 0px 20px;
	position: relative;
}
.headerNameEdit h1 {
	text-align: center;
}
.headerNameEdit button {
	all: unset;
	position: absolute;
	top: 50%;
	right: 20px;
}
.headerNameEdit img {
	width: 6px;
}

/* CALL-TO-ACTION */
.call-to-action {
	margin: auto;
	text-align: center;
	padding: 1rem;
	box-shadow: 5px 5px 10px #999;
}


/* LIST DIVS */
main {
	padding: 0 4em;
}

/*
ITEM STRUCTURE
<div>
	<h2>List title</h2>
	<ul>
		<li>
			<input type="checkbox">
			<input type="text">
		</li>
		...
	</ul>
</div>
*/


.item-container {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 1em;
}

.item-container div {
	background-color: #c55;

	margin: 1em 0;
	padding: 0.5em 1em;

	color: white;

	position: relative;
}

.item-container ul {
	list-style-type: none;
	padding: 0;
}

.list-title {
	margin: 0;
	padding: 0.5em;
	background-color: #a33;

	text-transform: capitalize;
	text-align: center;
}

.item-container li {
	text-align: center;
	margin-bottom: 0.5em;
}

.item-container input[type="checkbox"] {
	/* 
	Impossible to modify directly. If you want to make
	any kind of customization, you'll have to hide the checkbox
	and have other elements reflect its changes.

	:before, :after
	*/
}

.item-container input[type="text"] {
	padding: 0.25em;
	margin-left: 0.5em;
}


.main {
    height: 80vh;
    width: 440px;
    display: flex;
    position: relative;
}
/*Plus-knappen på startsidan*/
#newListBtn {
		position: sticky;
		bottom: 1rem;
		left: 50%;
		transform: translateX(-50%);
		font-size: larger;
}

/* Styling för inputfältet i headern */
.nameinput {
    border: none;
    font-size: 28px;
    margin-left: 5px;
    
}
.listiteminput {
    border: none;
    border-bottom: 2px solid black;
    margin: 5px 5px 0 20px;  
    
}
.saveBtn {
    margin: 5px 0px 0 20px;
    background: rgb(138, 216, 138);
    padding: 5px;
    border-radius: 10px;
    border: none;
}
.backBtn {
    padding: 5px;
}
.additembtn {
    border: none;
}

#listItems li {
    list-style: none;
}
input {
    border: none;
}
.iconspans {
    padding: 5px;
}
/*------------------------------------*/

/* TRASHCAN CSS */
.remove {
	all: unset;
	position: absolute;
	right: -8px;
	top: -8px;
	background-color: lightgray;
	padding: 6px 8px 4px 8px;
	border-radius: 16px;
}
.remove img {
	width: 12px;
}