body {
  margin: 0;
}

main {
  padding: 0;
}

/* HOVER CLASS */
.hover {
  cursor: pointer;
}

/* HEADER CLASSES */

.headerLogoSettings {
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
  padding: 14px;
}
.headerLogoSettings a {
  align-self: center;
}
.headerLogoSettings a img {
  width: 20px;
}
.headerLogoSettings img {
  width: 20px;
}
.headerLogoSettings button {
  all: unset;
  position: absolute;
  right: 10px;
}
.headerNameEdit {
  padding: 5px 20px 5px 20px;
  position: relative;
  border-bottom: solid 0.5px black;
}
.headerNameEdit h1 {
  text-align: center;
  font-size: 1.5rem;
}
@media (min-width: 600px) {
  .headerNameEdit h1 {
    font-size: 1.8rem;
  }
}
.headerNameEdit button {
  all: unset;
  position: absolute;
  top: 35%;
  right: 10px;
}
.headerNameEdit img {
  width: 6px;
  padding: 0 1rem;
}

#button-editmode {
  top: 40%;
}



/* CALL-TO-ACTION */
.call-to-action {
  margin: auto;
  text-align: center;
  padding: 1rem;
  box-shadow: 5px 5px 10px #999;
}

/* LIST DIVS */


/*
ITEM STRUCTURE
<div>
	<h2>List title</h2>
	<ul>
		<li>
			<input type="checkbox">
			<input type="text">
		</li>
		...
	</ul>
</div>
*/

.item-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1em;
}

.item-container div {
  background-color: #c55;

  margin: 1em 0;
  padding: 0.5em 1em;

  color: white;

  position: relative;
}

.item-container ul {
  list-style-type: none;
  padding: 0;
}

.list-title {
  margin: 0;
  padding: 0.5em;
  background-color: #a33;

  text-transform: capitalize;
  text-align: center;
}

.item-container li {
  text-align: center;
  margin-bottom: 0.5em;
}

.item-container input[type="checkbox"] {
  /* 
	Impossible to modify directly. If you want to make
	any kind of customization, you'll have to hide the checkbox
	and have other elements reflect its changes.

	:before, :after
	*/
}

.item-container input[type="text"] {
  padding: 0.25em;
  margin-left: 0.5em;
}

.main {
  height: 80vh;
  width: 440px;
  display: flex;
  position: relative;
}
/* Plus-knappen på startsidan  */
#newListBtn {
  position: sticky;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  line-height: 40px;
  font-size: 4rem;
  height: 50px;
  border-radius: 100%;
  background-color: #e0e0e0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  border: 1px solid #e0e0e0;
  /* dunno vilken som är bäst */
  /* border: 1px solid black; */
}

#newListBtn:hover {
  background-color: rgb(241, 239, 239);
}

/* Styling för inputfältet i headern */
.nameinput {
  border: none;
  font-size: 28px;
  margin-left: 5px;
}
.listiteminput {
  border: none;
  border-bottom: 2px solid black;
  margin: 5px 5px 0 px;
}
.saveBtn {
  margin: 5px 0px 0 20px;
  background: rgb(138, 216, 138);
  padding: 5px;
  border-radius: 10px;
  border: none;
}
.additembtn {
  border: none;
}

#listItems li {
  list-style: none;
}
input {
  border: none;
}
.iconspans {
  padding: 5px;
}
/*------------------------------------*/

/* TRASHCAN CSS */
.remove {
  all: unset;

  margin: 6px 8px 4px 8px;
  background-color: lightgray;
  width: 1rem;
}
.remove-container {
  position: absolute;
  right: -0.8rem;
  top: -0.8rem;
  /* padding: 6px 8px 4px 8px; */
  background-color: lightgray;
  border-radius: 100%;
}

/* ---------------------------------- */

/*  PREVIEW LISTS  */
.preview-object h2 {
  font-size: 1.2rem;
  font-weight: 600;
}
.preview-object li {
  font-size: 0.8rem;
  padding-bottom: 0.5rem;
}

@media (min-width: 600px) {
  .preview-object h2 {
    font-size: 1.5rem;
  }
  .preview-object li {
    font-size: 1rem;
}
}
/* ---------------------------------- */


/* STYLING CHECKBOXES */

li {
  list-style: none;
}

/* The container */
.itemContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
}

/* Hide the browser's default checkbox */
.itemContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.itemContainer.editing input {
  opacity: 1;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: solid 1px black;
  border-radius: 100%;
}

/* When the checkbox is checked, add background */
.checkedItem .checkmark {
  background-color: black;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkedItem .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.itemContainer .checkmark:after {
  left: 7px;
  top: 4px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* color picker */

.color-select-div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 12px;
  margin: 12px;
}

.color-select {
  display: none;
}

.color-select-label {
  padding: 16px;
  border-radius: 100%;
}

.color-is-selected {
  padding: 16px;
  border: black 1px solid;
  border-radius: 100%;
}

.color-select-label-default {
  /* TODO ersätt med CSS-variabler*/
  background-color: #999;
}

.color-select-label-red {
  background-color: hsla(0, 75%, 55%, 1);
}

.color-select-label-orange {
  background-color: hsla(20, 75%, 55%, 1);
}

.color-select-label-yellow {
  background-color: hsla(50, 90%, 65%, 1);
}

.color-select-label-green {
  background-color: hsla(125, 60%, 60%, 1);
}

.color-select-label-blue {
  background-color: hsla(200, 80%, 60%, 1);
}

.color-select-label-purple {
  background-color: hsla(270, 60%, 65%, 1);
}

.list-color-red {
  background-color: hsla(0, 60%, 60%, 1);
}
.list-color-red:hover {
  background-color: hsla(0, 60%, 55%, 1);
}

.list-color-header-red {
  background-color: hsla(0, 60%, 60%, 1);
}

.list-color-orange {
  background-color: hsla(24, 70%, 60%, 1);
}
.list-color-orange:hover {
  background-color: hsla(20, 75%, 55%, 1);
}

.list-color-header-orange {
  background-color: hsla(24, 80%, 60%, 1);
}

.list-color-yellow {
  background-color: hsla(50, 80%, 75%, 1);
}
.list-color-yellow:hover {
  background-color: hsla(50, 90%, 65%, 1);
}
.list-color-header-yellow {
  background-color: hsla(50, 80%, 75%, 1);
}

.list-color-green {
  background-color: hsla(125, 50%, 70%, 1);
}
.list-color-green:hover {
  background-color: hsla(125, 60%, 60%, 1);
}
.list-color-header-green {
  background-color: hsla(125, 60%, 70%, 1);
}

.list-color-blue {
  background-color: hsla(200, 70%, 70%, 1);
}
.list-color-blue:hover {
  background-color: hsla(200, 80%, 60%, 1);
}
.list-color-header-blue {
  background-color: hsla(200, 70%, 70%, 1);
}

.list-color-purple {
  background-color: hsla(270, 50%, 75%, 1);
}
.list-color-purple:hover {
  background-color: hsla(270, 60%, 65%, 1);
}
.list-color-header-purple {
  background-color: hsla(270, 50%, 75%, 1);
}




